@use '@/common/styles/variables.scss' as *;

.headerBorder {
  border-bottom: 1px solid $secondaryColor;
  background-color: $blackPrimaryColor;
  position: relative;
}

.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 200px;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }
}
