@use '@/common/styles/variables.scss' as *;

.headerLink {
  text-decoration: none;
  color: $secondaryColor;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
  white-space: nowrap;
  width: max-content;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $secondaryColor;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.active {
    color: $secondaryColor;
    &::after {
      width: 100%;
    }
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
