@use '@/common/styles/variables.scss' as *;

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & .link {
    color: $textColor;
    border-radius: 50px;
    padding: 8px;
    background-color: #00000036;
    outline: 1px solid $textColor;

    &:hover {
      background-color: #52525236;
    }
  }
}

.cartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  gap: 20px;
}
