@use '@/common/styles/variables.scss' as *;
@use '@/common/styles/placeholders.scss' as *;

.linkCart {
  color: $textColor;
  display: inline-block;
}

.cart {
  width: 200px;
  height: 300px;
  background-color: #364f6b69;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &.largeCart {
    width: 240px;
    height: 350px;
    & + .titleCart {
      width: 240px;
    }
  }
  &.miniCart {
    width: 185px;
    height: 270px;
    & + .titleCart {
      width: 185px;
    }
  }

  transition: all 0.6s ease;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease;
    aspect-ratio: 2/3;
  }

  .btnFavorites {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #38383877;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -60px;
    top: -60px;
    transition: all 0.4s ease-in-out;

    svg {
      stroke: #fafafa;
    }

    &.isFav {
      right: 10px;
      top: 10px;
      svg {
        fill: #d13d3d;
      }
    }

    &:hover {
      background-color: #383838be;
    }
  }

  .rating {
    @extend %rating;

    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &:hover {
    transform: scale(1.05);

    .btnFavorites {
      transform: translate(-70px, 70px);
      &.isFav {
        transform: translate(0, 0);
      }
    }

    & img {
      transform: scale(1.1);
    }
  }
}

.titleCart {
  width: 200px;
  margin-top: 10px;

  & h3 {
    font-size: 18px;
    font-weight: 500;
  }
}
